@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
	font-family: 'Jost', sans-serif;
}
h1, .text-delta{
font-size: 48px !important;
font-weight: 800;
text-transform: uppercase;
}